*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-color: azure;
  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  color: goldenrod;
}